@{
    ViewBag.Title = "Unauthorized";
}

<div class="col-lg-10">
    <div class="card">
        <div class="card-body">
            <div class="authentication">
                <div class="page-404 container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="full-height">
                                <div class="vertical-align full-height pdd-horizon-70">
                                    <div class="table-cell">
                                        <h1 class="text-dark font-size-80 text-light">Unauthorized!</h1>
                                        <p class="lead lh-1-8">Hello there, You seem to be lost, but don't worry,<br>we'll get you back on track...</p>
                                        <button onclick="window.history.back();" class="btn btn-warning">Get Me Back!</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 ml-auto hidden-sm hidden-xs">
                            <div class="full-height height-100">
                                <div class="vertical-align full-height">
                                    <div class="table-cell">
                                        <svg height="300" width="300" viewBox="0 0 300 300">
                                            <polygon points="150,75 51,240 246,240" stroke-linejoin="round" style="fill:none;stroke:#ff8a00;stroke-width:8"></polygon>
                                            <text x="126" y="222" fill="#ff8a00" font-family="sans-serif" font-weight="900" font-size="126px">!</text>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>