<tr>
    <td colspan="2" style="font-size:small">
        <b>We have signed this delivery memo having fully checked the goods and satisfied ourselves.<br></b>
        1) Claims for the shortage in quality and weight to be noticed within 24 hours of recipt of<br />
        goods otherwise the claim will not be entertained.<br />
        2) Our risk and responsibility ceases on delivery of goods to carriers.<br />
        3) No Dyieng Guarantee.<br />
        4) Nill Shortage.      <br />
        5) Fold 100 C.M.       <br />
        6) Subject to Bhiwandi Jurisdiction.
    </td>
    <td>
        <p style="font-size:small">Reciever's Signature</p>
        <br />
        <br />
        <br />
        Status
    </td>
</tr>
<br />
<tr>
    <td style="font-size:large;color:black;">
        Office Mob : 123456789  / 123456789 / 123456789
    </td>
</tr>

<tr>
    <td colspan="2" >
        Prepared By
    </td>
    <td style="font-size:small;">
        For R.N. CUT-PIECE CENTER
    </td>
</tr>

