    <tr>
        <td colspan="2">
            <img src="~/images/logo/logo_bill.png" style="width:100%; max-width:300px;">
        </td>
        <td colspan="2">
            R.N. CUT-PIECE CENTER<br>
            MFG. OF : SCHOOL UNIFORM FANCY SHIRTINGS &amp; SUITINGS<br>
            39, Hafsan ALi, Bhiwandi-421302, Dist. Thane (Maharashtra) <br>
            <b>GSTIN : 27AYPPS9521F1ZV</b>
        </td>
    </tr>
