<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="breadcrumb-item"><a href="#">Layout</a></li>
    <li class="breadcrumb-item active">Collapsed Sidebar</li>
</ol>