<li class="">
    <div class="row no-gutters">
        <div class="col-12 text-left">
            <a href="@Url.Action("LogOff","Account")"><i class="fa fa-power-off"></i> Logout</a>
        </div>
    </div>
    <!-- /.row -->
</li>