
<div class="info">
    <p> @(User.Identity.FullName())</p>
    @*<a href="#" class="link" data-toggle="tooltip" title="" data-original-title="Settings"><i class="ion ion-gear-b"></i></a>
    <a href="#" class="link" data-toggle="tooltip" title="" data-original-title="Profile"><i class="ion ion-android-contact"></i></a>
    <a href="#" class="link" data-toggle="tooltip" title="" data-original-title="Logout"><i class="ion ion-power"></i></a>*@
</div>