@using BankStatementAnalyzer.SuperAdmin.Helpers
@model BankStatementAnalyzer.SuperAdmin.ViewModels.Roles.PermissionVM
@using (Html.BeginCollectionItem("Permissions"))
{
    @Html.HiddenFor(m => m.PermissionInfo.ID)
    <label class="custom-control custom-checkbox">
        @Html.CheckBoxFor(m => m.IsSelected, new { @class = "custom-control-input", id = Model.PermissionInfo.ID })
        <span class="custom-control-label">@Model.PermissionInfo.Name</span>
    </label>
}