@model BankStatementAnalyzer.BusinessLogic.ViewModels.OrderVM
@{
    ViewBag.Title = "Details";
    ViewBag.MainHeading = "Order Details";
    ViewBag.BoxHeader = "Details";
}

@{ Html.RenderPartial("OrderDetailPartial", Model);}

@using (Html.BeginForm("PickupFromVendor", "Orders", new { id = Model.OrderId, redirectAction = Model.RedirectAction }, FormMethod.Post))
{
    <div class="row no-print">
        <div class="col-12">
            <div class="form-horizontal">
                <div class="form-group">
                    @Html.Label("Delivery Boy", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-6">
                        @Html.DropDownListFor(model => model.DeliveryBoyId, (IEnumerable<SelectListItem>)ViewBag.DeliveryBoy, "Select Delivery Boy", new { @class = "form-control", @autocomplete = "Off" })
                        @Html.ValidationMessageFor(model => model.DeliveryBoyId, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <!-- /.col -->
    </div>

    <div class="row no-print">
        <div class="col-12">
            <button type="submit" class="btn btn-info ml-15">
                <i class="fa fa-check"></i>Assign
            </button>
        </div>
    </div>
}