@{
    ViewBag.Title = "Terns and Conditions";
    Layout = "~/Views/Shared/Annon_Layout.cshtml";
}

<h2>eLaundry ’s Terms and Conditions</h2>
<div class="col-12">
    <div class="panel">
        <div class="panel-body">
            <p>
                These terms and conditions (“User Terms”) apply to your visit to and your use of our website at www.e-Laundry.in (the “Website”), the Service and the Application (as defined below),

                as well as to all information, recommendations and/or services provided to you on or through the Website, the Service and the Application.
            </p>
            <p>
                PLEASE READ THESE TERMS OF SERVICE CAREFULLY. BY ACCESSING OR USING eLaundry . APPLICATIONS OR ANY SERVICES PROVIDED BY US, YOU AGREE TO BE BOUND BY THESE TERMS OF SERVICE.

                IF YOU DO NOT AGREE TO ALL OF THESE TERMS AND CONDITIONS, DO NOT ACCESS OR USE eLaundry . APPLICATIONS OR ANY SERVICES PROVIDED BY US.
            </p>
            <div class="tab-content">
                <div class="tab-pane animation-fade active show" id="category-4" role="tabpanel">
                    <div class="panel-group panel-group-simple panel-group-continuous" id="accordion1" aria-multiselectable="true" role="tablist">
                        <div class="panel">
                            <div class="panel-heading" id="question-1" role="tab">
                                <a class="panel-title collapsed" aria-controls="answer-1" aria-expanded="false" data-toggle="collapse" href="#answer-1" data-parent="#accordion1">
                                    What services does eLaundry  provide?
                                </a>
                            </div>
                            <div class="panel-collapse collapse" id="answer-1" aria-labelledby="question-1" role="tabpanel" style="">
                                <div class="panel-body">
                                    eLaundry  provides pick-up and delivery services for dry cleaning and laundry. Pick-up and delivery may be requested through our Website or the use of an application supplied by

                                    eLaundry and downloaded and installed by you on your single mobile device (smartphone) (the “Application”). All services provided by eLaundry to you by means of your use of the

                                    Website or Application are hereafter referred to as the “Service”.
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading" id="question-2" role="tab">
                                <a class="panel-title collapsed" aria-controls="answer-2" aria-expanded="false" data-toggle="collapse" href="#answer-2" data-parent="#accordion1">
                                    How is a contract concluded between eLaundry and you?
                                </a>
                            </div>
                            <div class="panel-collapse collapse" id="answer-2" aria-labelledby="question-2" role="tabpanel">
                                <div class="panel-body">
                                    <p>
                                        By using the Website, Application or the Service, you enter into a contract with eLaundry (the “Contract”). In order to be able to use the Website, Application or Service, you first

                                        need to sign up with eLaundry . When signing up, you are obligated to provide eLaundry  with your personal information, mobile telephone number, address for pick-up and delivery, and

                                        credit card data (only requested when placing an order). Upon successful completion of your signing up with  eLaundry , eLaundry  will provide you with a personal account, which may

                                        be accessible to you with a password of your choice.
                                    </p>
                                    <p>
                                        You have to be 18 years of age or older to use the Service, Website, or Application. If you reside in a jurisdiction that restricts the use of the Service, Website, or Application because

                                        of age or restricts the ability to enter into contracts such as this one due to age, you must abide by such age limits and you must not use the Service and the Application. You represent

                                        that if you are an individual, you are of legal age to enter into a binding contract, or that if you are registering on behalf of a legal entity, that you are authorized to enter into and

                                        bind the entity to, these User Terms and register for the Service and the Application.
                                    </p>
                                    <p>
                                        Your use of the Website, Application, or the Service.
                                    </p>
                                    <p>
                                        You warrant that the information you provide to eLaundry  is accurate and complete. eLaundry  is entitled at all times to verify the information that you have provided and to refuse the

                                        Service or use of the Application without providing reasons.
                                    </p>
                                    <p>
                                        You may only access the Service using authorized means. It is your responsibility to check to ensure you download the correct Application for your device. eLaundry  is not liable if you

                                        do not have a compatible mobile device or if you download the wrong version of the Application for your mobile device. eLaundry  reserves the right to terminate the Service and the use of

                                        the Application should you be using the Service or Application with an incompatible or unauthorized device.
                                    </p>
                                    <p>
                                        By using the Website, Application or the Service, you further agree that:
                                    </p>
                                    <ul>
                                        <li>
                                            You will only use the Service, Website, or download the Application for your sole, personal use and will not resell it to a third party.
                                        </li>
                                        <li>
                                            You will not authorize others to use your account.
                                        </li>
                                        <li>
                                            You will not assign or otherwise transfer your account to any other person or legal entity.
                                        </li>
                                        <li>
                                            You will not use an account that is subject to any rights of a person other than you without appropriate authorization.
                                        </li>
                                        <li>
                                            You will not use the Service, Website, or Application for unlawful purposes, including but not limited to sending or storing any unlawful material or for fraudulent purposes.
                                        </li>
                                        <li>
                                            You will not use the Service, Website, or Application to cause nuisance, annoyance or inconvenience.
                                        </li>
                                        <li>
                                            You will not impair the proper operation of the network.
                                        </li>
                                        <li>
                                            You will not try to harm the Service, Website, or Application in any way whatsoever.
                                        </li>
                                        <li>
                                            You will not copy, or distribute the Website, Application, or other eLaundry Content without written permission from eLaundry .
                                        </li>
                                        <li>
                                            You will keep secure and confidential your account password or any identification we provide you which allows access to the Service, Website, and the Application.
                                        </li>
                                        <li>
                                            You will provide us with whatever proof of identity we may reasonably request.
                                        </li>
                                        <li>
                                            You will not use the Service, Website, or Application with an incompatible or unauthorized device.
                                        </li>
                                        <li>
                                            You will comply with all applicable law from your home nation, the country, state and/or city in which you are present while using the Application, Website, or Service.
                                        </li>
                                        <li>
                                            eLaundry  reserves the right to immediately terminate the Service and the use of the Website or Application should you not comply with any of the above rules.
                                        </li>
                                    </ul>
                                    <p>
                                        <b>  Term and termination of the contract</b>
                                    </p>
                                    <p>
                                        The Contract between eLaundry and you is concluded for an indefinite period.
                                    </p>
                                    <p>
                                        You are entitled to terminate the Contract at all times by permanent deletion of the Application installed on your smartphone, thus disabling the use by you of the Application and the

                                        Service. You can close your user account at any time by contacting  eLaundry’s customer support at contact@e-Laundry.in
                                    </p>
                                    <p>
                                        eLaundry is entitled to terminate the Contract at all times and with immediate effect (by disabling your use of the Application and the Service) if you: (a) violate or breach any term

                                        of these User Terms, or (b) in the opinion of eLaundry, misuse the Application or the Service. eLaundry is not obliged to give notice of the termination of the Contract in advance.

                                        After termination eLaundry will give notice thereof in accordance with these User Terms.
                                    </p>
                                    <p>
                                        <b> Disclaimers of Warranties & Limitation of Liability</b>
                                    </p>
                                    <ul>
                                        <li>
                                            The Website, the App and the Content is provided for information purposes only and should not be used as a basis for making business decisions nor should it be regarded by you as

                                            a substitute for specific professional advice. eLaundry makes no warranties or representations to you as to the accuracy, authenticity or completeness of the content on the Website

                                            and/or App, which is subject to change at any time without notice.
                                        </li>
                                        <li>
                                            The Website, the App and the Content are provided on an “AS-IS”, “without faults” and “as available” basis and, to the extent lawful, with no warranties whatsoever. eLaundry

                                            expressly disclaims (to the fullest extent permitted by law) any and all express, implied, and statutory warranties, including, without limitation, the warranties of merchantability,

                                            fitness for a particular purpose, freedom from computer virus, title, and non-infringement of proprietary rights.
                                        </li>
                                        <li>
                                            eLaundry and its personnel are not liable for any direct, indirect, punitive, incidental, special, or consequential damages or loss (including, without limitation, incidental

                                            and consequential damages, lost profits, or damages resulting from lost data or business interruption) arising out of, or in any way connected with, the use or inability to use the

                                            Website, the App and the Content, whether based on warranty, contract, tort (including negligence), or any other legal theory, and whether or not eLaundry  is advised of the possibility

                                            of such damages.
                                        </li>
                                        <li>
                                            The material appearing on our Website and/or App may include technical, typographical or photographic errors. eLaundry does not represent, warrant or endorse that any of the

                                            Content is accurate, complete, reliable or current. eLaundry may make changes to the materials contained on the Website and/or App at any time without notice. You acknowledge that any

                                            reliance upon such Content shall be at your sole risk.
                                        </li>
                                        <li>
                                            eLaundry  is not responsible for any problems or technical malfunction of any telephone network or lines, computer online systems, servers or providers, computer equipment,

                                            software, failure of any email due to technical problems or traffic congestion on the Internet or on the Website or the App or combination thereof, including any injury or damage to

                                            any users or to any person’s computer related to or resulting from participation or downloading materials in connection with the Website and/or App.
                                        </li>
                                        <li>
                                            Reference to any specific commercial product, process, or service by trade name, trademark, manufacturer, or otherwise does not constitute or imply its endorsement,

                                            recommendation, or favoring by eLaundry . The views and opinions of document authors do not necessarily state or reflect those of eLaundry or any of its affiliates.
                                        </li>
                                    </ul>
                                    <p>
                                        <b>  Garment care</b>
                                    </p>
                                    <ul>
                                        <li>
                                            eLaundry  will examine the labels of the clothes assuring they are dealt with accordingly. If the label is missing, the eLaundry team will inspect and advise the best treatment

                                            to their knowledge. If the client requests a special wash which is in contradiction with the item’s label,  eLaundry  will contact the client and prompt the potential risks related to

                                            the particular wash and will only continue with such request without any liability arising. If eLaundry is unable to contact the client, the company reserves the right to return the

                                            item without treatment.
                                        </li>
                                        <li>
                                            eLaundry  will not guarantee the successful removal of all stains but will make every attempt to remove the stains.
                                        </li>
                                    </ul>
                                    <p>
                                        <b>  Item Count</b>
                                    </p>
                                    <p>
                                        eLaundry’s pick up driver will count the number of bags given by the user for their selected services.

                                        Once laundry items arrive at the eLaundry store, they will be counted. The count at collection will not include a count or an inspection of the garments. Any defects, damages or

                                        stains will not be noted down on this receipt. If there is a discrepancy between the items as per the application and the items received, eLaundry  will inform the customer by sending

                                        a quotation with the actual count for their approval.
                                    </p>
                                    <p>
                                        <b> Damage & Lost Items</b>
                                    </p>
                                    <ul>
                                        <li>
                                            eLaundry strives for customer satisfaction by taking care of all their garments and it is our objective is to provide the best laundry service in the market. Every item is

                                            treated with extreme care and reasonability; however, we cannot guarantee the avoidance of color change or shrinkage of the clothing and we shall not be responsible for any change of

                                            color or shrinkage of garments beyond our control.  eLaundry  shall not be responsible for the wear and tear of the clothing and any valuables left in the pockets of your garments.
                                        </li>
                                        <li>
                                            For any items damaged by the actions of eLaundry not resulting from the inherent state of the item prior to cleaning, our maximum liability shall be ten times the charge for

                                            cleaning the item as stated in your invoice by line item or the value of the item at the time of the cleaning taking into account its age and wear and tear, whichever is lower. Any

                                            damaged item must be reported to eLaundry not later than 24 hours from the date of receiving the item at contact@e-Laundry.in
                                        </li>
                                        <li>
                                            Any lost items must be reported within 24 hours of the order delivery date of the items at contact@e-Laundry.in The items are considered lost 48 hours after the first claim has

                                            been made. Any reimbursement for the agreed lost items shall be limited to 10 times the item price charged on the order invoice.
                                        </li>
                                    </ul>
                                    <p>
                                        <b>Cancellation of Your Order</b>
                                    </p>
                                    <p>
                                        1. We may cancel your order and the contract between you and us in below conditions:
                                    </p>
                                    <ul>
                                        <li>
                                            If you fail to make the items available for collection
                                        </li>
                                        <li>
                                            As a result of an event outside our control
                                        </li>
                                        <li>
                                            If we consider that any item does not relate with the order, is damaged, has no information about its content or cleaning instructions, or does not fall within those Items which

                                            we accept
                                        </li>
                                    </ul>
                                    <p>
                                        <b>
                                            Collection & Delivery
                                        </b>
                                    </p>
                                    <ul>
                                        <li>
                                            eLaundry  will do reasonable endeavours to collect and deliver items at the times specified in the order but we cannot guarantee for the same. We will do reasonable efforts to

                                            communicate any delay to you by phone, mobile app push or email.  eLaundry reserves the right to refuse the delivery of the items to the customer if the payment is not yet made.
                                        </li>
                                        <li>
                                            In the event that you have failed to accept or arrange delivery of an Item for more than 90 days after the delivery date specified in the order, we may dispose of the item or

                                            donate it to charity without reference to you.
                                        </li>
                                        <li>
                                            You may arrange to have items collected from or delivered to a third party on condition that you do so at your own risk and the third party is prepared to sign an acknowledgement

                                            on your behalf.
                                        </li>
                                        <li>
                                            You may, by written instructions to us, request us to leave an item in an agreed location without providing us with a signature of acknowledgement. If you do so, it is at our

                                            discretion and entirely at your own risk and we shall not be liable to you for any damage or loss of items delivered on this basis.
                                        </li>
                                    </ul>
                                    <p>
                                        <b>
                                            Payment
                                        </b>
                                    </p>
                                    <p>
                                        eLaundry shall charge you for the services you have requested which shall include all the treatments as per the cleaning process. You agree that you will pay for all the services of

                                        your items as ordered as well for the items which you may not have included (by your own miscount) or by permitting the eLaundry team to count and add the items manually on the system

                                        once received by us. You agree that you will pay for all Cleaning you purchase through eLaundry, and that eLaundry may charge your credit card account as provided by you when

                                        registering for the Service for the Cleaning (including any taxes, late fees, or additional fees as applicable) that may be accrued by or in connection with your account. You are

                                        responsible for the timely payment of all fees and for providing  eLaundry with a valid credit card account for payment of all fees at all times. Any payment made is non-refundable.

                                        Once the items have been cleaned, an invoice will be sent detailing the number of items that were cleaned as well as the charges minus any promotions or credits accumulated. Payments

                                        will be processed immediately after the items have been cleaned by our laundry, and prior to delivery; any rejected credit card transactions will need to be settled before the delivery

                                        of the cleaned items.
                                    </p>
                                    <p>
                                        <b>
                                            General
                                        </b>
                                    </p>
                                    <ul>
                                        <li>
                                            These Terms contain everything the parties have agreed in relation to the subject matter it deals with. No party can rely on an earlier written document or anything said or done

                                            by or on behalf of another party before this document was executed.
                                        </li>
                                        <li>
                                            Each provision of these Terms is individually severable. If any provision is or becomes illegal, unenforceable or invalid in any jurisdiction it is to be treated as being severed

                                            from this document in the relevant jurisdiction, but the rest of this document will not be affected. The legality, validity, and enforceability of the provision in any other jurisdiction

                                            will not be affected.
                                        </li>
                                        <li>
                                            These Terms as well as your access to the Website and App are subject to and governed by the federal laws of the UAE, as applicable without giving

                                            effect to conflicts of law principles thereof. Any dispute regarding this Terms of Use or our handling of your personal information and general information is subject to the exclusive

                                            jurisdiction of the UAE Courts.
                                        </li>
                                    </ul>
                                    <p>
                                        For assistance or more information please contact us contact@e-laundry.in
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>