@model IEnumerable<BankStatementAnalyzer.BusinessLogic.ViewModels.Dashboard>

@{
    ViewBag.Title = "Dashboard";
    ViewBag.MainHeading = "Dashboard";
    ViewBag.BoxHeader = "Summary";
}

    <section class="content">
        <!-- <div class="row">
         @foreach (var item in Model)
         {
             <div class="col-md-4">
                 <div class="info-box">
                     <span class="info-box-icon bg-@item.IconColor"><i class="@item.FavIcon"></i></span>

                     <div class="info-box-content">
                         <span class="info-box-number">@item.Count</span>
                         <a href="@item.URL" target="_blank"><span class="info-box-text">@item.OrderType</span></a>
                     </div>
                 </div>
             </div>
         }
     </div>-->
    </section>
