@{
    ViewBag.Title = "Privacy";
    Layout = "~/Views/Shared/Annon_Layout.cshtml";
}

<h2>Privacy Policy</h2>
<div class="col-12">
    <div class="box-body no-padding">
        <div class="panel">
            <div class="panel-body">
                <p>
                    <b>a.</b>   eLaundry applies the applicable data protection law as applied in the UAE (the ‘DP Law’), and may for certain types of personal data processing, be subject to laws from other

                    jurisdictions. By the use of these Terms, you hereby irrevocably consent, agree and submit to the application of the DP Law. As such, it is the policy of the eLaundry to respect the

                    privacy of our Website and App users. Whenever and wherever possible, eLaundry will treat the information you provide with the utmost care and confidentiality, in accordance with the

                    DP Law and any applicable laws.
                </p>
                <br />
                <p><b>b.</b>	The information provided by you will be processed in accordance with the best practice and standards as prescribed by the DP Law.</p>
            </div>
        </div>
    </div>
</div>
<br />
<h2>Cookies Policy</h2>
<div class="col-12">
    <div class="box-body no-padding">
        <div class="panel">
            <div class="panel-body">
                <p>
                    A cookie is a small text file that is unique to the web browser on your computer or mobile device, which is used to retain user preferences, and enhance browsing experience (the ‘Cookie’).

                    eLaundry may use Cookies to track overall site usage and enables us to provide a better user experience.
                </p>
            </div>
        </div>
    </div>
</div>

<br />
<h2>External Links</h2>
<div class="col-12">
    <div class="box-body no-padding">
        <div class="panel">
            <div class="panel-body">
                <p>
                    The Website and App may contain links to other websites on the Internet that are owned and operated by third parties (the ‘External Sites’). These links are provided solely as a convenience

                    to you and not as an endorsement by eLaundry of the contents on such External Sites. You acknowledge that eLaundry is not responsible for the availability of, or the information and content

                    of any External Site. You should contact the site administrator or webmaster for those External Sites if you have any concerns regarding such links or the content located on such External

                    Sites. If you decide to access linked third-party websites, you do so at your own risk. eLaundry does not accept any liability, and shall not be liable to you for any loss or damage

                    arising from or as a result of your acting upon the content of another website to which you may link from the Website or App.
                </p>
            </div>
        </div>
    </div>
</div>
<br />
<h2>Intellectual Property Rights</h2>
<div class="col-12">
    <div class="box-body no-padding">
        <!-- Panel -->
        <div class="panel">
            <div class="panel-body">
                <p>
                    <b>1.</b> ‘Intellectual Property Rights’ means any and all current and/or future intellectual property rights, including (i) all forms of copyright and authors rights (including any and

                    all rights that may be considered financial rights provided under UAE Federal Law No. 7 of 2002), database rights and rights in patents, designs, inventions, utility models, trade names,

                    trademarks, service marks, rights in trade dress or get-up, goodwill, mobile applications, domain names, website addresses (URL), know-how, trade secret, rights to sue for passing off,

                    unfair competition rights, moral rights and Confidential Information (whether registered or unregistered); (ii) applications for registration, renewals or extensions, and the right to

                    apply for registration, renewal or extensions, for any of these rights; and (iii) all other intellectual property rights and equivalent or similar forms of protection (whether registered

                    or unregistered), existing anywhere in the world from time to time.
                </p>
                <p>
                    <b>2.</b>
                    You acknowledge and warrant that the Intellectual Property Rights and different components contained therein are vested and shall remain vested and shall remain the property of

                    eLaundry or its respective proprietors. You further agree that at no material time that you acquire any rights in the Intellectual Property Rights and those data, properties, materials

                    and methodologies and undertakes not to infringe the Intellectual Property Rights of eLaundry in respect of any of the foregoing, and that you shall comply with all applicable laws and

                    the directions of eLaundry relating to the Intellectual Property Rights, data, properties, materials and methodologies, and shall refrain from any unauthorized use of, access to or

                    disclosure of the Intellectual Property Rights, data, properties, materials, and methodologies.
                </p>
            </div>
        </div>
        <!-- End Panel -->
    </div>
</div>

<br />
<h2>Trademarks</h2>
<div class="col-12">
    <div class="box-body no-padding">
        <div class="panel">
            <div class="panel-body">
                <p>
                    The trademarks, service marks, insignia and logos used and shown on our application are registered and unregistered trademarks of our own. You must not use such trademarks without the

                    prior written authorization of eLaundry .
                </p>
            </div>
        </div>
    </div>
</div>

<br />
<h2>Indemnity</h2>
<div class="col-12">
    <div class="box-body no-padding">
        <div class="panel">
            <div class="panel-body">
                <p>
                    <b>1.</b>
                    You agree to indemnify, defend and hold the Indemnified Parties (as defined below) harmless from and against any and all claims, liability, suits, judgments, litigation costs,

                    causes of action, demands, recoveries, damages (actual and consequential), fines, penalties, losses, costs and expenses (including attorneys’ fees) of any kind or nature incurred by any

                    Indemnified Party arising from or in any way related to: your use of this Website (including, by third parties); your breach of these Terms or any other terms referenced herein your

                    violation of any law or the rights of a third party.
                </p>
                <p>
                    <b>
                        2.
                    </b>
                    ‘Indemnified Parties’ means the eLaundry , its affiliates and their respective officers, directors, owners, agents, employees, information providers and copyright owners.
                </p>
            </div>
        </div>
    </div>
</div>